<html>
<h1>
  {{title}}
</h1>

<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <div>
     <mat-form-field>
    <input matInput type="text" placeholder="UserName" name="username" formControlName="username">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
    <input matInput type="password" placeholder="Password" name="password" formControlName="password" appInvalidPassword>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
    <input matInput type="email" placeholder="Email" name="email" formControlName="email">
    </mat-form-field>
  </div>

  <button type="submit" [disabled]="!signUpForm.valid">Submit</button>
</form>
</html>
